:root {
  --heading-font: "Libre Bodoni", Georgia, serif;
  --category-font: Benton, "Inter Tight", sans-serif;
  --paragraph-font: Georgia, serif;
}

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
/*------------global classes--------------*/

a {
  text-decoration: none;
}
/*-----x-------global classes---------x-----*/
ul {
  list-style-type: none;
}

/*-----------nav-bar--------------*/

.nav {
  height: 0rem;
  min-height: 100vh;
  overflow: hidden;
}
.nav .nav-brand a {
  font-size: 1.8rem;
  padding: 25.6px 16px;
  display: block;
  margin-left: 10px;
  color: white;
  position: relative;
  left: 13px;
}

.nav .nav-menu {
  justify-content: space-between;
  /* opacity: 0.8; */
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: #112B3C; */
  background-color: #2b6777;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.nav .nav-items {
  display: flex;
  margin: 0%;
  padding: 0px 2rem;
}

.nav .nav-items .nav-links {
  padding: 30px 24px;
  font-size: 1.05rem;
  position: relative;
  display: flex;
  align-self: center;
}

.nav-links a {
  color: #ffffff;
  opacity: 1 !important;
  font-family: var(--paragraph-font);
}

.subs a {
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 5px;
  /* background: rgba(255, 255, 255, 0.15); */
  background: #52ab98;
}
.subs,
.sign {
  /* margin: 30px 0rem !important; */
  padding: 0rem 1.5rem !important;
  display: flex;
  align-items: center;
}
.subs {
  border-right: 1px solid white;
}
.sign {
  border-left: 1px solid white;
}
.text-gray {
  color: #ffffff;
  opacity: 1 !important;
}

.social {
  display: flex;
  justify-content: end;
  padding: 5px 30px;
}
.social a {
  margin: 5px 13px;
  font-size: 1.1rem;
  color: black;
}
.searchbtn {
  color: #ffffff;
}

#videobg {
  position: absolute;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.vsc-controller {
  display: none;
}
.overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;

  opacity: 0.43 !important;
}
.nav-overlay {
  /* position: absolute; */
  background-color: rgba(0, 0, 0, 0.1);
  /* width: 100vw; */
  /* height: 100vh; */
  /* opacity: 0.5 !important; */
}
.text-box h1 a {
  position: absolute;
  width: 900px;
  height: 100.87px;
  left: 42px;
  top: 355.92px;

  font-family: "Lora";
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 40px;

  color: #ffffff;
}
.text-box p {
  position: absolute;
  width: 420px;
  height: 46.47px;
  left: 160px;
  top: 399.9px;

  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* or 167% */
  color: #e5e5e5;
}
.highlight h1 {
  width: 7px;
  height: 12px;
  position: absolute;
  left: 42px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;

  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: right;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;

  position: absolute;
  width: 40px;
  height: 12px;
  top: 299px;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  opacity: 0.9;
}

#vertical-line {
  position: absolute;
  width: 35px;
  height: 0px;
  left: 110px;
  top: 424px;
  border: 1px solid #e5e5e5;
}

/* #horizontal-line{
    position: absolute;
width: 25px;
height: 1px;
border: 0.3px solid #E5E5E5;
transform: rotate(90deg);
left: 1153px;
top: 37px;
}
#horizontal-line2{
    position: absolute;
width: 25px;
height: -0.9px;
border: 1px solid #E5E5E5;
transform: rotate(90deg);
left: 1303px;
top: 38px;
} */

.date {
  position: absolute;
  width: 59px;
  height: 17.42px;
  left: 43px;
  top: 417px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #e5e5e5;
}
/*---x--------nav-bar-----------x---*/

.row {
  display: flex;
  margin: 0px 80px;
}

.row div {
  padding: 0px 10px;
}

.blogs img {
  width: 100%;
}
.center-img {
  height: 50vh;
  width: 100% !important;
}

.blogs {
  display: flex;
}

.blogs.container {
  margin: 20px 70px;
  gap: 40px;
  /* flex-shrink: inherit; */
}

.menu-article h2,
.menu-article h3,
.menu-article h4,
.menu-article h5,
.menu-article h6,
.menu-article p {
  margin: 0;
}

.menu-article {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10px; */
  /* padding-bottom: 30px; */
}

.menu-article h2 {
  z-index: 10;
}
.dot-seperater {
  width: 50%;
  text-align: left;
  margin: 30px 0;
  border-top: 1px dotted;
}

/* .right-bar article:after{
  content: ' ';
  width: 64px;
  height: 1px;
  border-top: 1px dotted #b2b2b2;
  position: absolute;
  top:0;
  left:0;
} */

.col-6 p,
.col-6 h1,
.col-6 h2,
.col-6 h3 {
  text-align: center;
}

.col-3,
.col-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 40px; */
}

.img-title {
  align-self: center;
  background-color: #ffffff;
  position: relative;
  top: -21px;
  margin-bottom: -29px;
  padding: 8px 16px;
  font-size: 15px;
  letter-spacing: 0.2em;
}

.container {
  /* max-width: 1220px; */
  margin: 20px;
  /* margin-left: auto;
  margin-right: auto; */
}
.col-3 {
  flex: 0 2 25%;
  align-items: flex-start;
}
.col-6 {
  flex: 0 2 50%;
}
.videos .col-3 {
}
.main-desc {
  flex: 0 0 50%;
  border: #000000 solid 1px;
  border-style: dotted;
  border-top: 0px;
  width: 100%;
}

.main-desc h1 {
  font-size: 38px;
  font-weight: 900;
  font-family: var(--heading-font);
}

.main-desc p {
  font-family: var(--paragraph-font);
  color: #656565;
}
.img-title {
  font-family: var(--category-font);
}
.menu-article h3 {
  font-family: var(--heading-font);
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.menu-article h2 {
  font-family: var(--paragraph-font);
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
}
.menu-article p {
  font-family: var(--paragraph-font);
  font-size: 14px;
  font-weight: 400;
  color: #656565;
}

.btn-primary {
  /* align-items: center; */
  display: flex;
  justify-content: center;
  line-height: 1.2;
  background-color: #e5e5e5;
  font-weight: 100 !important;
  font-size: 14px;
  /* line-height: 1.875; */
  /* height: 53px; */
  /* line-height: 51px; */
  border-radius: 3px;
  padding: 20px 30px;
  /* display: inline-block; */
  position: relative;
  cursor: pointer;
  border-style: none;
  width: 100%;
  font-family: var(--paragraph-font);
}

.videos .btn-primary {
  width: 15%;
  align-self: center;
  margin: 25px;
}

.header {
  background-color: #ffffff;
}
.videos {
  margin: 20px 110px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  /* align-content: normal; */
}

.video-article-list {
  display: flex;
  gap: 40px;
}

.left-vid {
  width: 100%;
}
.right-vid2 {
  width: 100%;
}
.right-vid {
  width: 100%;
}
.videos h1 {
  text-align: center;
}
.vid-disc h1 {
  text-align: left;
}
.vid-disc p {
  text-align: left;
  font-family: var(--paragraph-font);
  font-size: 14px;
  font-weight: 400;
  color: #656565;
}

/* .heading{
  display: flex;
 justify-content: center;
} */


.heading::before,
.heading::after {
  display: inline-block;
  content: "";
  border-top: 0.2rem solid black;
  width: 40%;
  word-wrap: break-word;
  vertical-align: baseline;
  margin: 0 1rem;
  line-height: 15px;
  text-align: center;
  transform: translateY(-1rem);
}

.heading span{
  text-transform: uppercase;
  bottom: 10px;
  position: relative;
  letter-spacing: 3px;
  /* border-left: 1px solid black  ; */
}
.podcast{
  display: flex;
  flex-direction:column;
}
.podcast-list{
  display: flex;
  flex: column;
}